@media screen and (min-width:768px) and (max-width:1024px) {

    .product-group {
        justify-content: none;
        width: 80%;
        margin-left: auto;
        margin-right: auto;

    }

    .img-box-4 {
        display: flex;
        justify-content: space-between;
        width: 90%;
        text-align: center;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
        box-sizing: border-box;

    }

    .section-logo {
        width: 90%;
        border-radius: 30px 4px;
    }

}


@media screen and (min-width:1025px) {

    /* carousel item */
    .carousel-item {
        background-size: contain;

    }

    .product-group {
        justify-content: none;
        width: 80%;
        margin-left: auto;
        margin-right: auto;

    }

    .img-box-4 {
        display: flex;
        justify-content: space-between;
        width: 90%;
        text-align: center;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
        box-sizing: border-box;

    }


}